Source: areafix
Priority: extra
Maintainer: Stanislav Maslovski <stanislav.maslovski@gmail.com>
Build-Depends: debhelper (>= 5), libhusky-dev (>> 1.9-0), libfidoconf1-dev (>> 1.9-0)
Standards-Version: 3.7.2
Section: libs

Package: libareafix-dev
Section: libdevel
Architecture: any
Depends: libareafix1 (= ${Source-Version}), libhusky-dev (>> 1.9-0), libfidoconf1-dev (>> 1.9-0)
Description: areafix development files
 This library is a part of HUSKY Portable Fidosoft Project.

Package: libareafix1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: areafix library 
 This library is a part of HUSKY Portable Fidosoft Project.
